# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Node
node_modules/

# Build files
dist/
build/

# IDE
.vscode/

# Test/cache
.pytest_cache/
.coverage